.console-container {
  font-size: 20px;
  text-align: center;
  height: 30px;
  width: 180px;
  display: inline-block;
}
.console-underscore {
  display: inline-block;
  top: -0.1em;
}
/* Card */
/*Image*/
.card-avatar {
  --size: 90px;
  background-image: url(./img/profile.jpeg);
  margin-left: auto;
  margin-right: auto;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  margin-bottom: 1rem;
}

/*Card footer*/
.card-social {
  -webkit-transform: translateY(200%);
  -ms-transform: translateY(200%);
  transform: translateY(200%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease,
    -webkit-transform 0.2s ease;
}

.card-social__item {
  list-style: none;
}

.card-social__item svg {
  display: block;
  height: 40px;
  width: 40px;
  fill: #515f65;
  cursor: pointer;
  -webkit-transition: fill 0.2s ease, -webkit-transform 0.2s ease;
  transition: fill 0.2s ease, -webkit-transform 0.2s ease;
  transition: fill 0.2s ease, transform 0.2s ease;
  transition: fill 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

/*Text*/
.card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}

.card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}

/*Hover*/
.card:hover {
  -webkit-box-shadow: 0 8px 50px #23232333;
  box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
  -webkit-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  transform: translateY(-5%);
}

.card:hover .card-social {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 1;
}

.card-social__item svg:hover {
  fill: #232323;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card-avatar:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
